---
// Footer component
---

<footer class="footer flex">
  <section class="container">
    <nav class="footer-links">
      <a href="/blog">Blogs</a>
      <a href="/guides">Guides</a>
      <a
        href="https://putrevu.substack.com/subscribe"
        target="_blank"
        rel="noopener noreferrer"
      >
        Newsletter
      </a>
      <a
        href="https://twitter.com/aravindputrevu"
        target="_blank"
        rel="noopener noreferrer"
      >
        Twitter
      </a>
      <a href="/rss.xml">RSS</a>
    </nav>

    <nav class="flex justify-center">
      <a
        href="https://astro.build/"
        title="Built with Astro"
        target="_blank"
        rel="noopener noreferrer"
        class="img"
      >
        <img src="/thumbnails/astro.png" class="footer-img" alt="Astro" />
      </a>
      <a
        href="https://github.com/aravindputrevu"
        title="Open-source on GitHub"
        target="_blank"
        rel="noopener noreferrer"
        class="img"
      >
        <img src="/thumbnails/github.png" class="footer-img" alt="GitHub" />
      </a>
      <a
        href="https://github.com/taniarascia/taniarascia.com"
        title="Original Theme Source"
        target="_blank"
        rel="noopener noreferrer"
        class="img"
      >
        <img src="/thumbnails/original-tag.png" class="footer-img" alt="OG Source" />
      </a>
    </nav>
  </section>
</footer>
